
.form_wrapper {
    background-color: #fff;
    width: 1380px;
    height: 900px;
    background-color: #FFF;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
}

.user_info {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 650px;
    height: 690px;
}

h1 {
    margin: 0;
}

fieldset {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p {
    font-size: 16px;
    font-weight: bold;
}

input {
    width: 100%;
    border: 1px solid #E5E9EB;
    border-radius: 6px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
}

option {
    padding-left: 20px;
}

option {
    border: 1px solid #5e45b0;
}

.invalid {
    background-color: #ebcccc;
    border: 1px solid #990606;
}

.workDetails_jobType {
    display: flex;
    flex-direction: column;
}

.add {
    width: 600px;
    height: 330px;
    margin-bottom: 30px;
}

.workDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

select {
    width: 250px;
    border: 1px solid #E5E9EB;
    border-radius: 6px;
    height: 40px;
}

.btns {
    text-align: right;
    padding-top: 50px;
}

button {
    width: 160px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cancel {
    color: #0067F4;
    background-color: #fff;
}

.save {
    background-color: #0067F4;
    color: #fff;
    margin-left: 30px;
}

.errorText {
    color: red;
}