
table:first-child{
    margin-bottom: 20px;
}

th, td {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px;
    width: 200px;
    height: 48px;
    text-align: left;
}

th:first-child, th:last-child, td:first-child, td:last-child {
    width: 48px;
}