@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&display=swap');

.wrapper {
  background-color: #c5dced;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  font-family: 'Roboto',
  sans-serif;
  flex-wrap: wrap;
}

.bg {
  border-radius: 20px;
  padding: 30px;
}